services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always

    ports:
      - "0.0.0.0:5434:5432"

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: kbonote
      POSTGRES_DB: postgres

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
